body {
    font-family: Arial, Helvetica, sans-serif;
}

.centralizar{
    margin: 35% 25%;
    height: 100%;
    width: 100%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nomeRede{
    text-transform: capitalize;
}