body {
    font-family: Arial, Helvetica, sans-serif;
}

.centralizar{
    margin-top: 20%;
    margin-left: 20%;
    height: 100%;
    width: 100%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.capitalizar{
    text-transform: capitalize;
}