body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.centralizar{
    margin: 15% 30% 5% 30%;
    height: 100%;
    max-width: 100%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nomeRede{
    text-transform: capitalize;
}

.imagem_rodape{
    position: relative;
   /* top: 35%;
    left:30%;
    right: 30%;*/
    margin: 5% 50% 5% 40%;
    height: 300px;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    object-position: center top;
}
